<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hb.dao.MateDao"><!--namespace를 통해 UserDAO와 연결합니다. -->


  <insert id="create">
  	insert into mate(mId, mtId) values (#{mId}, #{mtId})
  </insert>
  
  <update id="accept">
  	update mate set mtAccept=1 where mId=#{mtId} and mtId=#{mId}
  </update>
  
  <select id="list" resultType="Integer">
  	select mtAccept from mate where mId=#{mtId} and mtId=#{mId}
  </select>
  
  <update id="update">
  	update profile set pOpen=0 where pId=#{mId};
  </update>
  
  <select id="select1" resultType="String">
  	select mtId from mate where mId=#{pId} and mtAccept=1;
  </select>
  
  <select id="select2" resultType="String">
  	select mId from mate where mtId=#{pId} and mtAccept=1;
  </select>
  
  <select id="buddy" resultType="com.example.hb.dto.ProfileDto">
  	select * from profile where pId=#{pId};
  </select>
  
  <delete id="delete">
  	delete from mate where (mId=#{mId} and mtId=#{mtId}) or (mId=#{mtId} and mtId=#{mId});
  </delete>
  
  <update id="update2">
  	update profile set pOpen=1 where pId=#{mId};
  </update>
  
</mapper>