<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hb.dao.MemberDao"><!--namespace를 통해 UserDAO와 연결합니다. -->
  		
  <select id="selectMembers" resultType="com.example.hb.dto.MemberDto"><!-- selectUsers()메서드를 호출하면 실행할 SELECT문이며, 
						UserDTO 객체를 파라미터로 받아, UserDTO객체를 반환합니다.-->
  	select * from member
  </select>
  
  <insert id="signUp">
  	insert into member(mId, mPwd, mEmail) values (#{mId}, #{mPwd}, #{mEmail})
  </insert>
  
  <select id="idCheck" resultType="int">
  	select count(*) from member where mId=#{mId}
  </select>
  
  <select id="emailCheck" resultType="int">
  	select count(*) from member where mEmail=#{mEmail}
  </select>
  
  <select id="authenticate" resultType="com.example.hb.dto.LoginDto">
  	select * from member where mId=#{mId}
  </select>
  
  <select id="findId" resultType="String">
  	select mId from member where mEmail=#{mEmail}
  </select>
  
   <select id="findPwd" resultType="String">
  	select mPwd from member where mEmail=#{mEmail} and mId=#{mId}
  </select>
  

</mapper>